:root {
  --animation-time: 1000ms;
}

@media (prefers-reduced-motion: no-preference) {
  .slide {
    transition:
      opacity var(--animation-time),
      visibility 0s ease var(--animation-time);
  }

  .slide.is-show {
    transition-delay: 0s;
  }
}

.slide {
  opacity: 0;
  visibility: hidden;
}

.slide.is-show {
  opacity: 1;
  visibility: visible;
}
